@model MusicStore.Web.Models.AlbumViewModel;

@{
    ViewData["Title"] = "Music Create Page";
}

<div>
    <div class="text-center">
        <h4 class="">Create Music Album</h4>
    </div>

    <form asp-action="Create" asp-controller="MusicStore" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        
        <div class="form-group">
            <label asp-for="@Model.Album.Title"></label>
            <input asp-for="@Model.Album.Title" />
            <span class="text-danger" asp-validation-for="@Model.Album.Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Album.Genre"></label>
            <select asp-for="@Model.Album.Genre" asp-items="@Model.AvailableGenres">
                <option selected disabled> ---Select--- </option> 
            </select>
            <span class="text-danger" asp-validation-for="@Model.Album.Genre"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Album.Price"></label>
            <input asp-for="@Model.Album.Price" />
            <span class="text-danger" asp-validation-for="@Model.Album.Price"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Album.ReleaseDate"></label>
            <input asp-for="@Model.Album.ReleaseDate" />
            <span class="text-danger" asp-validation-for="@Model.Album.ReleaseDate"></span>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Create</button>
            <a class="btn btn-danger" asp-action="Index" asp-controller="MusicStore" role="button">Cancel</a>
        </div>
    </form>
</div>